In [18]:
import pandas as pd
import numpy as np
from module_folder.classes import WebScraper
from module_folder.key_words import key_words, person

# 1. Web Scraping

In [10]:
web = WebScraper('https://www.novinky.cz/')
web.web_reader()
web.article_find()
df = web.articles_to_df()

In [15]:
df.head(5)

,Title,Link,Download_Date
0,Legendární Nokii 3310 předělal nadšenec pro po...,https://www.novinky.cz/clanek/internet-a-pc-mo...,2025-03-23
1,"KVÍZ: Rekordy dřevostaveb – znáte ty nejvyšší,...",https://www.novinky.cz/clanek/bydleni-kviz-rek...,2025-03-23
2,"Konec éry se blíží, Bugatti zahajuje dodávky p...",https://www.novinky.cz/clanek/auto-konec-ery-s...,2025-03-23
3,"Rusko jako nebezpečí nevnímám, řekla Konečná",https://www.novinky.cz/clanek/domaci-rusko-jak...,2025-03-23
4,Pravdy a mýty o intimním životě,https://www.novinky.cz/clanek/lifestyle-sex-vz...,2025-03-23

# 2. DataFrame transformation

## 2.1 Keywords and Persons

In [ ]:
# Keys from Dict to the list
key_words_keys_list = list(key_words.keys())
key_words_keys_list

['Volby', 'ANO', 'Piráti', 'Spolu', 'Stačilo', 'SPD', 'STAN', 'Motoristé']

In [ ]:
# List with keywords as new columns in the DF
df[key_words_keys_list] = np.nan

In [ ]:
# Person as a new columns in the DF
df['Person'] = np.nan

In [33]:
df.head(5)

,Title,Link,Download_Date,Volby,ANO,Piráti,Spolu,Stačilo,SPD,STAN,Motoristé,Person
0,Legendární Nokii 3310 předělal nadšenec pro po...,https://www.novinky.cz/clanek/internet-a-pc-mo...,2025-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"KVÍZ: Rekordy dřevostaveb – znáte ty nejvyšší,...",https://www.novinky.cz/clanek/bydleni-kviz-rek...,2025-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Konec éry se blíží, Bugatti zahajuje dodávky p...",https://www.novinky.cz/clanek/auto-konec-ery-s...,2025-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Rusko jako nebezpečí nevnímám, řekla Konečná",https://www.novinky.cz/clanek/domaci-rusko-jak...,2025-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pravdy a mýty o intimním životě,https://www.novinky.cz/clanek/lifestyle-sex-vz...,2025-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 2.2 Data Transformation

### 2.2.1 Columns Dtypes

### 2.2.2 True/False Keywords and Persons

# 3. Load to the SQL